<h1><%= job_title @job %></h1>
<p>Description</p>

<%= simple_format @job.description %>

<p>

<% if current_company == @job.company %>
    <%= link_to 'Edit', edit_job_path(@job) %>
<% end %>

<%= link_to 'Back', jobs_path, :class => "waves-effect waves-light btn-large" %>
</p>

