<h1>Editing skill</h1>

<%= render 'form' %>

<%= link_to 'Show', @skill , :class => "waves-effect waves-light btn-large" %>
<%= link_to 'Back', skills_path , :class => "waves-effect waves-light btn-large" %>
