 <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">iConsultor</h5>
          <p class="grey-text text-lighten-4"><p>O melhor local de consultadoria</p>Nunca mais volte a enviar documentos para preencher </p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Login</h5>
          <ul>
            <%= render "layouts/login" %>
           </ul>
         </div>
       </div>
     </div>
     <div class="footer-copyright">
      <div class="container">
        © 2016 Copyright Novatec
        <a class="grey-text text-lighten-4 right" href="http://novatec.pt">http://novatec.pt</a>
      </div>
    </div>
  </footer>